.sectionCatalog {
    display: flex;
    width: 100%;
    gap: 94px;
    padding: 100px 64px;
    flex-direction: row;
    align-items: self-start;
    margin: auto;
    justify-content: center;
   
}