.camperImg {
  background-color: var(--background-features);
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
    max-width: 100%;
    width: 290px;
    height: 310px;

}

.camperInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 526px;
  height: 310px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: var(--main-color);
  margin-bottom: 8px;
  width: 100%;
}

.addToFavorite {
  padding: 0 10px;
  background-color: transparent;
  border: none;
  transition: var(--anim);
}

.addToFavorite:hover .iconHeart {
  fill: transparent;
  stroke: var(--accent-color);
}

.addToFavorite:hover .iconHeartPressed {
  fill: var(--accent-color);
  stroke: var(--second-color);
}

.iconHeart {
 
}

.iconHeartPressed {

}

.camperAddInfo {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-color);
}

.iconRating,
.iconMap {
 
}

.showMore {
  border-radius: 200px;
  padding: 16px 40px;
  width: 166px;
  height: 56px;
  background-color: var(--accent-color);
  border: none;
  color: var(--main-white);
  transition: var(--anim);
}

.showMore:hover,
.showMore:focus,
.showMore:active {
  background-color: var(--accent-second-color);
}
