.camperImg {
  max-width: 100%;

  background-color: var(--background-features);
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--background-features);
}

.camperInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 526px;
  height: fit-content;
  width: 100%;
  overflow: visible ;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: var(--main-color);
  margin-bottom: 8px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: baseline;
}

.addFavContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  margin-left: auto;
}

.addToFavorite {
  padding: 0 10px;
  background-color: transparent;
  border: none;
  transition: var(--anim);
}

.addToFavorite:hover .iconHeart {
  fill: transparent;
  stroke: var(--accent-previous-color);
}

.addToFavorite:hover .iconHeartPressed {
  fill: var(--accent-previous-color);
  stroke: var(--accent-third-color);
}

.iconHeart {
  width: 24px;
  height: 24px;
}

.iconHeartPressed {
  width: 24px;
  height: 24px;
  fill: var(--accent-previous-color);
  stroke: var(--accent-third-color);
  transition: var(--anim);
}

.camperAddInfo {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-color);
}

.iconRating {
  width: 16px;
  height: 16px;
  fill: var(--add-color);
  stroke: var(--add-color);
  margin-right: 4px;
}

.camperRating,
.camperReviews {
  text-decoration: underline;
}

.iconMap {
  width: 16px;
  height: 16px;
  stroke: var(--main-color);
  fill: none;
  margin-left: 16px;
  margin-right: 4px;
}

.camperDescription {
  width: 525px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
  line-height: 24px;
  color: var(--accent-second-color);
}

.showMore {
  border-radius: 200px;
  padding: 16px 40px;
  width: 166px;
  height: 56px;
  background-color: var(--accent-color);
  border: none;
  color: var(--main-white);
  transition: var(--anim);
}

.showMore:hover,
.showMore:focus,
.showMore:active {
  background-color: var(--accent-second-color);
}

.camperAdv {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--main-color);
  height: fit-content;
      overflow-y: visible;
}

.camperAdvItem {
  display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    padding: 12px 18px;
    height: 44px;
    background-color: var(--background-features);
}

.iconCamperItems {
  width: 20px;
    height: 20px;

}